<h1 id="tableLabel">Movies</h1>

<p *ngIf="!movies"><em>Rendering...</em></p>

<mat-grid-list cols="3" rowHeight="1:2">
            <mat-grid-tile *ngFor="let movie of movies">
                <mat-card class="tile">
                    <img class="moviePoster" mat-card-image src="https://image.tmdb.org/t/p/w500/{{movie.movie_poster}}">
                    <mat-card-content>{{movie.title}}</mat-card-content>
                    <mat-card-actions>
                        <button class="btn-btn-primary" (click)="deleteMovie(movie)" mat-button>delete</button>
                        <mat-slider [tickInterval]="getSliderTickInterval()"></mat-slider>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
